.next
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.staging.local
.git
.gitignore
.dockerignore
Dockerfile
.docker
temp/
*.log
.vscode
.idea
coverage
.nyc_output
.cache
dist
build 